<!DOCTYPE html>
    <html>
        <head>
            <title>
                Lootbox Generator
            </title>
        </head>
        <body>
            <h1 style="color:red;">
                Lootbox Generator
            </h1>

            /* <!-- <h1 style="color:blue;">
                Lootbox Generator
            </h1> --> */

            <p>
                {{ item }}
            </p>

            <button onclick="window.location.reload();">
                Open Another Lootbox
            </button>

            <div class="content">
                <table class = "table">
                    <tr>
                        <th>Loot</th>&nbsp;
                    </tr>

                    {% for loot in all_loot %}
                        <tr class = "tableText"> 
                            <td><p>
                                {{ loot.loot_result }}
                            </p></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </body>
    </html>    